.figure {
  text-align: start;
  margin: 2rem 0;
}

.image {
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 4px 10px rgba(0,0,0,.08);
}

.caption {
  margin-bottom: .75rem;
  font-weight: 600;
  color: #333;
}

.fonte {
  margin-top: .5rem;
  font-size: .8rem;
  color: #666;
  font-style: italic;
}
