.tabelaContainer {
  width: 100%;
  margin: 1.5rem 0;
}

.tituloTabela {
  font-weight: 600;
  margin-bottom: .5rem;
}

/* ============================
   TABELA
============================ */

.tabela {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: .90rem;
}

/* ============================
   LARGURA DAS COLUNAS
============================ */

.colCampo {
  width: 20%;
}

.colObrigatorio {
  width: 11%;
}

.colFormatoPec {
  width: 13%;
}

.colTabela {
  width: 15%;
}

.colColuna {
  width: 15%;
}

.colFormatoBd {
  width: 14%;
}

.colObrigatorioBd {
  width: 11%;
}

/* ============================
   CÉLULAS
============================ */

.tabela th,
.tabela td {
  border: 1px solid var(--ifm-table-border-color);
  padding: .55rem .75rem;
  text-align: left;
  vertical-align: top;

  overflow-wrap: anywhere;
  word-break: break-word;
}

.tabela th {
  font-weight: 600;
}

/* ============================
   CABEÇALHO
============================ */

.headerGroup th.pec {
  background: #2864AE;
  color: white;
  text-align: center;
}

.headerGroup th.bd {
  background: #071D41;
  color: white;
  text-align: center;
}

/* ============================
   SEÇÕES
============================ */

.secao td {
  background: var(--ifm-color-emphasis-200);
  font-weight: 600;
}

.subsecao td {
  background: var(--ifm-color-emphasis-100);
  font-weight: 500;
}